* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* Mobile version*/
.container-nav {
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(72, 73, 73);
}
.container-ul {
  display: flex;
}
.container-ul > li {
  padding: 15px;
  margin: 20px;
  background-color: black;
  color: rgb(26, 188, 156);
  border-radius: 30px;
}
.container-ul > li:first-child {
  background-color: rgb(26, 188, 156);
  color: black;
}
.container-button {
  margin: 300px 300px;
  display: flex;
  flex-direction: column;
}
.button-option {
  font-size: 40px;
  padding: 30px;
  border-radius: 50px;
  margin-bottom: 40px;
  background-color: rgb(26, 188, 156);
}

.button-option:hover {
  background-color: rgb(17, 120, 100);
  color: white;
}
footer {
  background-color: rgb(72, 73, 73);
  padding: 100px;
}
.credits {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
}
/* comienzo de vercion escritorio*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
